body {
	background-image: url(../media/rabbit-hole.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Berkshire Swash', cursive;
}

.mySound {
	align-content: flex-end;
}
h1 {
	color: antiquewhite;
	align-items: center;
	display: flex;
	justify-content: center;
	align-items: center;
	
	-webkit-animation-name:header;
	-webkit-animation-duration: 4s;
	animation-name: header;
	animation-duration: 4s;
}

@-webkit-keyframes header {
	from {background-color: #cc9900;}
	to {background-color: #ffd24d;}
}
@keyfames header {
	from {background-color: #cc9900;}
	to {background-color: #ffd24d;}
}

audio {
	display: inline-block;
	height: 10%;
	align-content: stretch;
}